#faqs-wrapper
  %h2
    FAQs

  %h3
    What do you want to know?

  %ul#faq-page-list
    - @faq_categories.each do |faq_category|
      %li
        = link_to faq_category, class: ('active' if faq_category.id == @faq_category.id) do
          = faq_category.name

  %h3
    = @faq_category.name

  %ul.faqs
    - @faq_category.faqs.order('-weighting').each do |faq|
      %li
        %h4
          %i.fa.fa-comment-o
          = faq.question

        = raw(faq.answer)

        - if @faq_category.faqs.last != faq
          %hr