#faqs-wrapper
  %h2
    FAQs

  %p
    If there's anything you want to know that isn't answered here, then please
    = link_to 'contact us', contact_url
    and ask!

  %ul#faq-page-list
    - @faq_categories.each do |faq_category|
      %li
        = link_to faq_category, class: ('active' if faq_category.id == @faq_category.id) do
          = faq_category.name

  #faq-list
    %h3
      = @faq_category.name

    %ul.faqs
      - unless @faqs.empty?
        - @faqs.each do |faq|
          %li
            %h4
              %i.fa.fa-comment-o
              = faq.question

            = raw(faq.answer)

            - unless faq == @faq_category.faqs.last
              %hr
      - else
        %li.no-faqs
          %p
            Sorry, there are currently no FAQs in this category!