%h2
  About the club

#about-feature.feature
  = image_tag('features/wingsuitrodeo.jpg')

%p
  The Leeds University Skydiving Society is part of the Outdoor Societies at the Leeds University Union. We welcome members from all Leeds and surrounding Universities, including Alumnis.

%p
  Our current home dropzone is
  = succeed ',' do
    = link_to 'BPS Langar', 'http://www.bpslangar.co.uk/'
  situated just outside of Nottingham. The dropzone is the largest civilian dropzone in the UK, hosting tandems and fun jumpers every day of the year (except Christmas Day). The dropzone also hosts Nottingham, Birmingham, Warwick and Loughborough University Skydiving Teams, therefore there are always lots of new students to meet. 

%p
  We are held together as a club by our passion for all avenues of the sport; becoming a member means being welcomed into a club that will help you from your first jump to your 1000th. The club is very sociable, hosting weekly events at varying locations (check our facebook if you want to find out more).

%p
  = link_to 'Join Leeds University Skydivers', 'http://www.leedsuniversityunion.org.uk/groups/skydiving/'

%h3
  Affiliates

%ul#affiliates
  %li
    = link_to 'Aerodyne Research', 'http://www.flyaerodyne.com/'
  %li
    = link_to 'British Parachute Association (BPA)', 'http://www.bpa.org.uk/'
  %li
    = link_to 'British Collegiate Parachute Association (BCPA)', 'https://www.bcpa.org.uk/'