#events
  %h2
    Events

  %p
    Come down and meet us at
    = link_to 'The Library Pub (Upstairs)', '#'
    every week during term time!

  %ul#events-list
    - @events.each do |event|
      %li
        .event-icon
          %i.fa.fa-calendar
        .event-description
          %h3
            = link_to event['link'] do
              = event['name']
         
          %p
            %strong
              Starts:
            = event['start_time']

          - if event['end_time']
            %p
              %strong
                Ends:
              = event['end_time']

          %p
            %strong
              Location
            = event['location']

        .clear