#events
  %h2
    Events

  %p
    Come down and meet us at
    = link_to 'The Library Pub (Upstairs)', 'http://www.thelibraryleeds.co.uk/'
    every week during term time!

  %ul#events-list
    -# Only display events if we have them!
    - unless @events.empty?
      - @events.each do |event|
        %li
          .event-icon
            %i.fa.fa-calendar
          .event-description
            %h3
              = link_to "https://www.facebook.com/events/#{event['id']}" do
                = event['name']
           
            %p
              %strong
                Starts:
              = format_fb_datetime(event['start_time'])

            - if event['end_time']
              %p
                %strong
                  Ends:
                = format_fb_datetime(event['end_time'])

            %p
              %strong
                Location:
              = event['location']

          .clear
    - else
      %p
        There are no upcoming events to display at this time... sorry!