!!!
%html
  %head
    %title
      Leeds Uni Skydivers

    %link{rel: 'shortcut icon', href: image_url('favicon.png')}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag 'application', media: 'all'

    = csrf_meta_tags

  %body
    #wrapper
      -# Title logo & quick join
      #header
        #header-logo
          = link_to root_url do
            = image_tag 'logo.png', alt: 'Leeds University Skydivers Logo', title: 'Leeds University Skydivers Logo'
        #header-title
          %h1
            %span.lu
              Leeds Uni
            Skydivers
          #twitter-icon
            = link_to 'https://twitter.com/LeedsSkyDivers' do
              %i.fa.fa-twitter-square
              
          #facebook-icon
            = link_to 'https://www.facebook.com/groups/shockabrah' do
              %i.fa.fa-facebook-square

      -# Navigation
      #navbar
        %ul
          %li.controls
            %a{href: '#'}
              %i.fa.fa-bars
              %span
                Show menu
          = navbar_link root_url, 'Home'
          = navbar_link about_url, 'About the club'
          = navbar_link members_url, 'Committee'
          = navbar_link events_url, 'Events'
          = navbar_link packages_url, 'Prices'
          = navbar_link [faq_url, faq_category_url(params[:id] || 0)], 'FAQ'
          = navbar_link 'http://www.leedsuniversityunion.org.uk/groups/skydiving/', 'Join LSD', 'join-lsd-btn'
          %li
            %i.seperator.fa.fa-ellipsis-v

      -# Main content, replaced by child templates
      #content
        %div
          -# Notices & alerts from Devise
          - if notice
            %p.notice
              = notice

          - if alert
            %p.alert
              = alert

          -# App content
          = yield

      -# Social icons, copyright etc
      #footer
        %div
          %p
            &copy;
            = Date.today.year
            Leeds University Skydivers. Website sloppily hacked together by
            = link_to 'http://jsherz.com' do
              jSherz.

    = javascript_include_tag 'application'