!!!
%html
  %head
    %title
      Leeds Uni Skydivers

    %link{rel: 'shortcut icon', href: image_url('favicon.png')}

    = stylesheet_link_tag 'application', media: 'all'

    = csrf_meta_tags

  %body
    #wrapper
      -# Title logo & quick join
      #header
        #header-logo
          = link_to root_url do
            = image_tag 'logo.png', alt: 'Leeds University Skydivers Logo', title: 'Leeds University Skydivers Logo'
        #header-title
          %h1
            %span.lu
              Leeds Uni
            Skydivers

      -# Navigation
      #navbar
        %ul
          %li
            %i.seperator.fa.fa-ellipsis-v
          %li
            = link_to root_url do
              Home
          %li
            %i.seperator.fa.fa-ellipsis-v
          %li
            = link_to '#' do
              Members
          %li
            %i.seperator.fa.fa-ellipsis-v
          %li
            = link_to '#' do
              Events
          %li
            %i.seperator.fa.fa-ellipsis-v
          %li
            = link_to '#' do
              Learn to Skydive
          %li
            %i.seperator.fa.fa-ellipsis-v
          %li
            = link_to '#' do
              Book a Skydive
          %li
            %i.seperator.fa.fa-ellipsis-v

      -# Main content, replaced by child templates
      #content
        %div
          = yield

      -# Social icons, copyright etc
      #footer
        %div
          %p
            &copy;
            = Date.today.year
            Leeds University Skydivers. Website sloppily hacked together by
            = link_to 'http://jsherz.com' do
              jSherz.

    = javascript_include_tag 'application'